html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ropa Sans", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

header, footer {
  padding: 1em;
  text-align: center;
}

article {
  background: #222323;
  padding: 2em;
  color: #fff;
  text-align: center;
}

a {
  color: #222323;
}

.homepage-banner {
  display: flex;
}
.homepage-banner img {
  margin: 0 auto;
  height: 300px;
}

.homepage-list {
  width: 400px;
  margin: 2em auto;
}
.homepage-list li {
  padding-left: 10px;
  line-height: 31px;
  height: 33px;
  list-style: none;
  border-left: 33px solid #222323;
  margin-bottom: 1em;
}
.homepage-list li a {
  text-decoration: none;
}